body 
    text-align center

.tanque
    margin 5em auto
    padding 0
    height 300px
    width 250px    
    border 1px solid rgba(0,0,0,0.3)
    border-bottom-left-radius: 1em
    border-bottom-right-radius: 1em
    position relative

    .agua
        margin 5em auto
        padding 0
        height 0px
        width 250px    
        background: blue
        border 1px solid rgba(0,0,0,0.3)
        border-bottom-left-radius: 1em
        border-bottom-right-radius: 1em    
        position absolute
        bottom -80px